<template>
  <div class="home">
    <FormDebot />
  </div>
</template>

<script>
// @ is an alias to /src
import FormDebot from "@/components/FormDepot.vue";
export default {
  name: "HomeView",
  components: {
    FormDebot,
  },
};
</script>
