<template>
  <b-container>
    <b-form class="from-info pt-5">
      <b-form-group
        id="input-group-1"
        label="utilisateur gitHub:"
        label-for="input-1"
      >
        <div class="d-flex">
          <b-form-input
            id="input-1"
            class="from-info__text"
            v-model="user"
            type="text"
            placeholder="saisissez un utilisateur gitHub"
            required
          ></b-form-input>
          <b-button @click="getDachbordinfo">envoyer</b-button>
        </div>
        <em class="text-danger" v-html="message"></em>
      </b-form-group>
    </b-form>
    <div v-if="isLaodingInfoUsero">
      <b-spinner type="grow" label="Loading..."></b-spinner>
    </div>
    <section class="dashboard" v-if="apiInfo.login">
      <b-row class="align-items-center">
        <b-col md="1" class="dashboard__logo">
          <img :src="apiInfo.avatar_url" alt="logo " />
        </b-col>
        <b-col md="4">
          <strong> l'utilisateur : </strong> <span> {{ apiInfo.login }} </span>
        </b-col>
        <b-col md="4">
          <strong> Date creation : </strong>
          <span> {{ apiInfo.created_at | moment("DD/MM/YYYY hh:mm") }} </span>
        </b-col>
      </b-row>
      <h2 class="py-2">Liste des repos :</h2>
      <div v-if="isLaodingListRepo">
        <b-spinner type="grow" label="Loading..."></b-spinner>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Lien</th>
            <th scope="col">Description</th>
            <th scope="col">Date creation</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="repo in listRepo" :key="repo.id">
            <td>{{ repo.name }}</td>
            <td>
              <a :href="repo.html_url" target="_blank"> {{ repo.html_url }}</a>
            </td>
            <td>{{ repo.description }}</td>
            <td>
              {{ repo.created_at | moment("MM/DD/YYYY hh:mm") }}
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      user: "",
      apiInfo: {},
      isLaodingInfoUsero: false,
      listRepo: {},
      isLaodingListRepo: false,
      message: "",
    };
  },
  methods: {
    getDachbordinfo() {
      this.initializ();
      if (!this.user) {
        this.message += "le champs utilisateur gitHub est invalide !! <br />";
        return;
      }

      this.getGeneralInfoUser(this.user).then(() => {
        this.getReposListByUser(this.user);
      });
    },
    initializ() {
      this.message = "";
      this.apiInfo = {};
      this.listRepo = {};
    },
    async getGeneralInfoUser(user) {
      try {
        this.isLaodingInfoUsero = true;
        const currentUser = await axios.get(
          `https://api.github.com/users/${user}`
        );
        this.isLaodingInfoUsero = false;
        this.apiInfo = currentUser.data;
      } catch (e) {
        this.isLaodingInfoUsero = false;
        this.message +=
          `erreur sur https://api.github.com/users/${this.user}` +
          " : " +
          e.message +
          "  <br />";
        console.error(this.message, e);
      }
    },
    async getReposListByUser(user) {
      try {
        this.isLaodingListRepo = true;
        const listRepoCurrentUser = await axios.get(
          `https://api.github.com/users/${user}/repos`
        );
        this.isLaodingListRepo = false;
        this.listRepo = listRepoCurrentUser.data;
      } catch (e) {
        this.isLaodingListRepo = false;
        this.message +=
          `erreur sur https://api.github.com/users/${this.user}/repos : ` +
          " : " +
          e.message +
          "  <br />";

        console.error(this.message, e);
      }
    },
  },
};
</script>

<style lang="scss">
.from-info {
  &__text {
    margin-right: 15px;
  }
  button {
  }
}

.dashboard {
  &__logo {
    img {
      width: 100%;
    }
  }
  &__line {
    border-top: 1px solid #eee;

    .col {
      text-align: left;
      padding: 15px;
      border-left: 1px solid #eee;
    }
  }
}
</style>
